h1, p {
  color: green;
  text-align: center;
}

.ejemplo {
  background-color: blue;
  height: 20px;
}

h2.ejemplo {
  color: white;
  height: 40px;
}

#colores>ul>li {
  /* cambia el color de backgroung definido*/
  background-color: yellow;
  /* cambia el color del texto*/
  color: black;
  /* cambia el tamaño de la fuente 1em = 16px*/
  font-size: 2em;
}

#orange {
  color: orange !important;
}

#green {
  color: green;
}

#red {
  color: red;
}

a[href="codigofacilito.com"] {
  color: red;
}

/*span h2 {
  color: red;
  font-size: 20px;
}*/