.custom-list li {
  list-style-type: none;
  position: relative;
  margin: auto;
}

.custom-list li::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: green;
  position: absolute;
  left: -1.5em;
  top: 0.15em;
}